
#project enviromental config files
config.json
servisCfg.json
exmpl-desctop-with-auth/example.config.json

#cmake build dir
build
exmpl-desctop-with-auth/build

#vscode dirs
.vscode

#external libs dirs if dont't need
#External

#docs (not corrected)
docs
